.info-modal .modal-wrapper {
  max-height: 80%;
  max-width: 85%;
  border-radius: 15px;
}

.rating-modal .modal-wrapper {
  max-height: 30%;
  max-width: 80%;
  border-radius: 15px;
}

.trvel-modal .modal-wrapper {
  max-height: 55%;
  max-width: 85%;
  border-radius: 15px;
}

.review-modal .modal-wrapper {
  max-height: 55%;
  max-width: 85%;
  border-radius: 15px;
}

.edit-review .modal-wrapper {
  max-height: 55%;
  max-width: 85%;
  border-radius: 15px;
}

.change-password .modal-wrapper {
  max-height: 35%;
  max-width: 80%;
  border-radius: 15px;
}
